.header{
    width: 100%;
    background:linear-gradient(rgba(13, 26, 56, 0.705),rgba(0,0,0,.7)), url(img/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

img{
    max-width: 100%;
}

.header .col a{
    color: white;
    text-decoration: none;
}

.header-menu ul{
    margin-top: 2rem;
}

.header .col-sm-3{
    margin-top: 2rem;
}

.header-content{
    margin-top: 6rem;
    margin-bottom: 5rem;
    padding-bottom: 3rem;
}

.red{
    color: #990033;
}

.left form input{
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    margin-bottom: 10px;
    width: 100%;
}

.left ul li{
    color: gray;
    margin-bottom: 10px;
}

.left ul li:hover{
    color: #990033;
}

.left select{
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
    color: gray;
}

.araBtn button{
    color:gray ;
    border: none;
    border-bottom: 1px solid gray;
    background-color: white;
    margin-bottom: 1rem;
}

.araBtn button:hover{
    color: white;
    background-color: black;
    transition: .5s;
}

.search a{
    text-decoration: none;
    color: black;
    padding: 0.2rem;
}

footer{
    background-color: #020a20;
}

.text-size{
    font-size: 11px;
}

footer h5{
    margin-bottom: 20px;
    font-size: 11px;
    letter-spacing: 2px;
}

footer ul li a{
    font-size: 11px;
    text-decoration: none;
    color: white;
}

.small{
    font-size: 10px;
    letter-spacing: 2px;
}

.empty{
    height: 35px;
}

#button-addon2{
    background-color: transparent;
    border: 1px solid #fff;
}

footer .input-button .email-add{
    width: 25%;
    background-color: transparent;
    color: white;
}

@media screen and (max-width:600px) {
    .header-content{
        margin-top: 0;
    }
}
